.prcnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/background.png");
  background-size: cover;
}

.pls {
    height: 12vh;
}

.form {
  width: 72vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.251);
  border-top: none;
  border-bottom: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(28px);
}

h1 {
  font-family: "Lexend";
  font-size: 4vw;
  color: #dcdcdc;
  letter-spacing: 3.5px;
  word-spacing: 12px;
  font-weight: 600;
  margin-bottom: 1vh;
}

.tvc {
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.463);
  font-family: "Lexend";
  margin-bottom: 7vh;
}

.otpinput input {
  width: 97px !important;
  height: 97px !important;
  font-size: 2.6rem;
  font-family: "Lexend";
  background-color: #f6f6f6;
  color: #101010;
  outline: none;
  border-radius: 13px;
  border: 2px solid #afafaf;
}

.emls {
  color: #7b7b7b;
  font-size: 1.5625rem;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #4285f4;
  margin-top: 10px;
  border-radius: 11px;
  color: white;
  font-size: 2.4rem;
  padding-left: 20px;
  cursor: pointer;
  padding-right: 20px;
}

button:hover {
  background-color: #2a66c6;
  box-shadow: 0px 0px 4px gray;
}

.emlinput {
  border: none;
  border-bottom: 2px solid #888;
  font-size: 1.4rem;
  outline: none;
  font-weight: 500;
  color: #303030;
}

.nvgt {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  bottom: 15%;
}

.sgn {
  cursor: pointer;
  margin: 0;
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.484);
  width: auto;
  margin-right: 2vw;
  display: block ruby;
}

.sgn p,
.lgn p {
  text-decoration: underline;
}

.sgn p:hover,
.lgn p:hover {
  color: rgba(255, 255, 255, 0.84);
}

.lgn {
  cursor: pointer;
  margin: 0;
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.484);
  display: block ruby;
}
