@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lexend:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #05193a;
}

h1 {
  margin: 0;
  font-family: "Krona One";
  font-weight: 400;
  font-style: normal;
  margin-left: 2vw;
  color: white;
}

.navbar {
  background-color: #d9d9d92a;
  padding: 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 10svh;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #555;
}

.scn {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.btns {
  margin-right: 2vw;
}

.bt1  {
  font-size: 1.8vw;
  outline: none;
  border: none;
  background: none;
  margin-right: 1cap;
  cursor: pointer;
  font-family: 'Lexend';
  font-weight:400;
  color:white;

}

.bcks {
  position: absolute;
  z-index: -1;
  height: 100svh;
  width: 100vw;
  background-image: url("/background.png");
  background-size: cover;
  animation: floating 7s infinite;
}

.bt2 {
  font-size: 1.8vw;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: .5vw;
  padding-left: 1.25vw;
  background-color: #ffffff4b;
  padding-right: 1.25vw;
  font-family: 'Lexend';
  font-weight:400;
  color:white;

}

.hdr {
  width: 68vw;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: max-content;
  align-items: center;
  font-size: 2.8rem;
  margin-top: 20dvh;
  font-weight: bold;
}

.gst {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.g1 ,.g2{
  padding: 1vw;
  border: none;
  font-family: "Inter";
  border-radius: 50px;
  width: 25vw;
  font-weight: 450;
  height: 5vw;
  font-size: 2vw;
  margin: 1vw;
}

.g2 {
  cursor: pointer;
  background-color: #6991D1;
  color: white;
}

.g1  {
  cursor: pointer;
  background-color: #FFF1AA;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

